
  <div class="row">
    <div class="d-flex form-home-page">
      <form
        class="d-flex"
        action="/internoCena"
        method="post"
        id="formCenaInterno"
      >
        <input
          type="text"
          name="matricula"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Matrícula"
        />
        <button
          type="submit"
          class="btn bg-button-guardar"
          id="btnInternoCena"
        >
          Guardar
        </button>
      </form>
    </div>
  </div>