<div class="row">
    <div class="form-home-page">
      <form class="d-flex" action="/internoDesayuno" method="post" id="formDesayuno">
        <input
          type="text"
          name="matricula"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Matrícula"
          />
          <button
          type="submit"
          class="btn bg-button-guardar"
          id="btnDesayuno"
          >
          Guardar
          </button>
      </form>
    </div>
  </div>