<div class="row">
  <div class="d-flex form-home-page">
    <form
      class="d-flex"
      action="/internoComida"
      method="post"
      id="formComida"
    >
      <input
        type="text"
        name="matricula"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Matricula"
      />
      <button
        type="submit"
        class="btn bg-button-guardar"
        id="btnComidaInterno"
      >
        Guardar
      </button>
    </form>
  </div>
</div>
